CBS_LOG_LEVEL=INFO
CBS_BUILD_TIMEOUT_SEC=900
CBS_REMOTES_RELOAD_TOKEN=
CLOUDFLARE_TUNNEL_TOKEN=
DATA_DIR=/mnt/user/appdata/ardupilot/bundled-data
CUSTOMBUILD_TEMPLATES=/mnt/user/appdata/ardupilot/custombuild-templates
