[submodule "ardupilot-jack"]
	path = ardupilot-jack
	url = git@github.com:jack7169/ardupilot-jack.git
[submodule "custombuild"]
	path = custombuild
	url = https://github.com/ArduPilot/CustomBuild.git
